<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:/Users/Disckord/Desktop/Bukkit 1.5.2/CraftBukkit-53734d29b6b9a0bc9b2d5c66d8fff3eadb963cb8"/>
</launchConfiguration>
